.git
.gitignore
.github
node_modules
npm-debug.log
yarn-error.log
.env.example
.env.*.example
tests
storage/logs/*
bootstrap/cache/*
storage/framework/views/*
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
vendor/*/tests
vendor/*/docs
docker-compose.override.yml
.env.local
